<div>
    <h2>
        <span>Iterations</span>
        <button class="btn btn-primary float-right jh-create-entity create-iteration-my-suffix" [routerLink]="['/', { outlets: { popup: ['iteration-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Iteration
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="iterations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Iteration Name</span></th>
            <th><span>From Date</span></th>
            <th><span>To Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let iteration of iterations ;trackBy: trackId">
                <td><a [routerLink]="['../iteration-my-suffix', iteration.id ]">{{iteration.id}}</a></td>
                <td>{{iteration.iterationName}}</td>
                <td>{{iteration.fromDate | date:'medium'}}</td>
                <td>{{iteration.toDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../iteration-my-suffix', iteration.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'iteration-my-suffix/'+ iteration.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'iteration-my-suffix/'+ iteration.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
