
<div *ngIf="iteration">
    <h2><span>Iteration</span> {{iteration.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Iteration Name</span></dt>
        <dd>
            <span>{{iteration.iterationName}}</span>
        </dd>
        <dt><span>From Date</span></dt>
        <dd>
            <span>{{iteration.fromDate | date:'medium'}}</span>
        </dd>
        <dt><span>To Date</span></dt>
        <dd>
            <span>{{iteration.toDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'iteration-my-suffix/'+ iteration.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
