
<div *ngIf="release_">
    <h2><span>Release</span> {{release_.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Release Name</span></dt>
        <dd>
            <span>{{release_.releaseName}}</span>
        </dd>
        <dt><span>From Date</span></dt>
        <dd>
            <span>{{release_.fromDate | date:'medium'}}</span>
        </dd>
        <dt><span>To Date</span></dt>
        <dd>
            <span>{{release_.toDate | date:'medium'}}</span>
        </dd>
        <dt><span>Note</span></dt>
        <dd>
            <span>{{release_.note}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'release-my-suffix/'+ release_.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
