<div>
    <h2>
        <span>Epics</span>
        <button class="btn btn-primary float-right jh-create-entity create-epic-my-suffix" [routerLink]="['/', { outlets: { popup: ['epic-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Epic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="epics">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="epicName"><span>Epic Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span>State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="note"><span>Note</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="releaseXId"><span>Release X</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="milestoneId"><span>Milestone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="memberId"><span>Member</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let epic of epics ;trackBy: trackId">
                <td><a [routerLink]="['../epic-my-suffix', epic.id ]">{{epic.id}}</a></td>
                <td>{{epic.epicName}}</td>
                <td>{{epic.description}}</td>
                <td>{{epic.state}}</td>
                <td>{{epic.note}}</td>
                <td>
                    <div *ngIf="epic.releaseXId">
                        <a [routerLink]="['../release-x-my-suffix', epic.releaseXId  ]" >{{epic.releaseXId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="epic.milestoneId">
                        <a [routerLink]="['../milestone-my-suffix', epic.milestoneId  ]" >{{epic.milestoneId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="epic.memberId">
                        <a [routerLink]="['../member-my-suffix', epic.memberId  ]" >{{epic.memberId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../epic-my-suffix', epic.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'epic-my-suffix/'+ epic.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'epic-my-suffix/'+ epic.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="epics && epics.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
