<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFeatureLabel">Create or edit a Feature</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!feature.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="feature.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_featureName">Feature Name</label>
            <input type="text" class="form-control" name="featureName" id="field_featureName"
                [(ngModel)]="feature.featureName" required/>
            <div [hidden]="!(editForm.controls.featureName?.dirty && editForm.controls.featureName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.featureName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="feature.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="feature.state" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                [(ngModel)]="feature.note" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_epic">Epic</label>
            <select class="form-control" id="field_epic" name="epic" [(ngModel)]="feature.epicId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="epicOption.id" *ngFor="let epicOption of epics; trackBy: trackEpicById">{{epicOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_milestone">Milestone</label>
            <select class="form-control" id="field_milestone" name="milestone" [(ngModel)]="feature.milestoneId">
                <option [ngValue]="null"></option>
                <option [ngValue]="milestoneOption.id" *ngFor="let milestoneOption of milestones; trackBy: trackMilestoneById">{{milestoneOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_releaseX">Release X</label>
            <select class="form-control" id="field_releaseX" name="releaseX" [(ngModel)]="feature.releaseXId">
                <option [ngValue]="null"></option>
                <option [ngValue]="releaseXOption.id" *ngFor="let releaseXOption of releasexes; trackBy: trackReleaseXById">{{releaseXOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_member">Member</label>
            <select class="form-control" id="field_member" name="member" [(ngModel)]="feature.memberId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="memberOption.id" *ngFor="let memberOption of members; trackBy: trackMemberById">{{memberOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
