<div>
    <h2>
        <span>Defects</span>
        <button class="btn btn-primary float-right jh-create-entity create-defect-my-suffix" [routerLink]="['/', { outlets: { popup: ['defect-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Defect
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="defects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Defect Name</span></th>
            <th><span>Description</span></th>
            <th><span>State</span></th>
            <th><span>Note</span></th>
            <th><span>Story</span></th>
            <th><span>Member</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let defect of defects ;trackBy: trackId">
                <td><a [routerLink]="['../defect-my-suffix', defect.id ]">{{defect.id}}</a></td>
                <td>{{defect.defectName}}</td>
                <td>{{defect.description}}</td>
                <td>{{defect.state}}</td>
                <td>{{defect.note}}</td>
                <td>
                    <div *ngIf="defect.storyId">
                        <a [routerLink]="['../story-my-suffix', defect.storyId  ]" >{{defect.storyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="defect.memberId">
                        <a [routerLink]="['../member-my-suffix', defect.memberId  ]" >{{defect.memberId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../defect-my-suffix', defect.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'defect-my-suffix/'+ defect.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'defect-my-suffix/'+ defect.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
