
<div *ngIf="defect">
    <h2><span>Defect</span> {{defect.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Defect Name</span></dt>
        <dd>
            <span>{{defect.defectName}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{defect.description}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{defect.state}}</span>
        </dd>
        <dt><span>Note</span></dt>
        <dd>
            <span>{{defect.note}}</span>
        </dd>
        <dt><span>Story</span></dt>
        <dd>
            <div *ngIf="defect.storyId">
                <a [routerLink]="['/story-my-suffix', defect.storyId]">{{defect.storyId}}</a>
            </div>
        </dd>
        <dt><span>Member</span></dt>
        <dd>
            <div *ngIf="defect.memberId">
                <a [routerLink]="['/member-my-suffix', defect.memberId]">{{defect.memberId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'defect-my-suffix/'+ defect.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
